@model Category

<form asp-Controller="Categories"  >
<div class="mb-3">

    <label for="exampleInputEmail1" class="form-label">Category Name</label>
  <input asp-for=Name class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
 <button class="btn btn-success">Create</button>
</form>